vti_encoding:SR|utf8-nl
http\://www.mapquest.com/directions/main.adp:Directions.html
http\://www.bradfordpa.com/:Area\\ Activities.html
http\://www.mapquest.com/:Directions.html
history.htm:Directions.html Rates.html
http\://cdn.mapquest.com/mqstyleguide/ws_wt_sm:Directions.html
mailto\:reservations@fisherinn.com:Rates.html
