.mstheme{
nav-banner-image:url(sunbannd.gif);
separator-image:url(sunsepd.gif);
list-image-1:url(sunbul1d.gif);
list-image-2:url(sunbul2d.gif);
list-image-3:url(sunbul3d.gif);
navbutton-horiz-pushed:url(sunnavhs.gif);
navbutton-horiz-normal:url(sunnavhd.gif);
navbutton-vert-pushed:url(sunnavvs.gif);
navbutton-vert-normal:url(sunnavvd.gif);
navbutton-home-normal:url(sunhomed.gif);
navbutton-up-normal:url(sunupd.gif);
navbutton-prev-normal:url(sunprevd.gif);
navbutton-next-normal:url(sunnextd.gif);
}
UL{
list-style-image:url(sunbul1D.gif);
}
UL UL{
list-style-image:url(sunbul2D.gif);
}
UL UL UL{
list-style-image:url(sunbul3D.gif);
}
.mstheme-bannertxt{
font-family:"Trebuchet MS",Arial,Helvetica;
font-size:5;
color:#669966;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FF9900;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FF9900;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FF9900;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FF9900;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#FF9900;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#FF9900;
}
