vti_encoding:SR|utf8-nl
mailto\:mike@tremendoushome.com:contact.htm
http\://www.komen.org/intradoc-cgi/idc_cgi_isapi.dll?IdcService=SS_GET_PAGE&nodeId=350:PressRelease/Susan\\ G\\ Komen-\\ fact\\ sheet\\ final.doc
http\://www.komen.org/intradoc-cgi/idc_cgi_isapi.dll?IdcService=SS_GET_PAGE&nodeId=519:PressRelease/Susan\\ G\\ Komen-\\ fact\\ sheet\\ final.doc
mailto\:rhonda@rsvppr.com:PressRelease/human\\ interest\\ press\\ release.doc
